<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/artist.css">
    <title>{{.Name}}</title>
</head>
<body>
    <div class="flex-container">
        <div class="hero-container">
            <img class="album-cover" src="{{.Image}}" alt="{{.Name}} album cover">
            <p>{{.Name}}</p>
        </div>
        <div class="members-container">
            <ul>
                {{range .Members}}
                <li class="member">{{.}}</li>
                {{end}}
            </ul>
        </div>
    </div>
</body>
</html>