<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/artist.css">
    <title>{{.Artist.Name}}</title>
</head>
<body>
    <h1>{{.Artist.Name}}</h1>
    <div class="flex-container">
        <div class="section">
            <img class="album-cover" src="{{.Artist.Image}}" alt="{{.Artist.Name}} album cover">
        </div>
        <div class="section">
            <h2 class="subtitles">Members</h2>
            <ul>
                {{range .Artist.Members}}
                <li class="member no-bullet-points">{{.}}</li>
                {{end}}
            </ul>
        </div>
        <div class="section">
            <h2 class="subtitles">More Info</h2>
            <ul>
                <li class="more-info no-bullet-points">Creation Date: {{.Artist.CreationDate}}</li>
                <li class="more-info no no-bullet-points">First Album: {{.Artist.FirstAlbum}}</li>
            </ul>
        </div>
        <div class="section">
            <h2 class="subtitles">Tour Dates</h2>
            {{range $location, $dates := .Relation.DatesLocations}}
            <h3 class="locations">{{$location}}</h3>
            <ul>
                {{range $dates}}
                    <li class="no-bullet-points">{{.}}</li>
                {{end}}
            </ul>
            {{end}}
        </div>
    </div>
</body>
</html>