@import "main.css";

h1 {
    text-align: center;
}

img, .artist-name {
    display:block;
    margin: auto;
}

.artist-name {
    text-align: end;
    max-width: 400px;
    margin-bottom: 40px;
    margin-top: 5px;
    font-size: 17px;
}