<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/browse.css">
    <title>Browse</title>
</head>
<body>
    <div class="menu-container">
        <p><a href="./">Home</a></p>
        <p><a href="./browse">Browse</a></p>
    </div>
    <h1>Browse</h1>
    {{range .}}
    <div class="artist-container">
        <img class="album-cover" src="{{.Image}}" alt="{{.Name}} album cover">
        <p class="artist-name"><a href="/artists/{{.Name}}">{{.Name}}</a></p>
    </div>
    {{end}}
</body>
</html>