<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <title>Home</title>
</head>
<body>
    <div class="menu-container">
        <p><a href="./">Home</a></p>
        <p><a href="./browse">Browse</a></p>
    </div>
    <h1 class="center">Groupie Tracker</h1>
    <form action="/" method="GET" id="form">
        <label for="year-input"></label>
        <input type="number" placeholder="Enter year" name="year-input" id="year-input" class="center">
        <input type="submit" value="Find" id="sumbit-button">
    </form>
        {{if .}}
            <ul></ul>
                {{range .}}
                    <li class="center"><a href="/artists/{{.Name}}">{{.Name}}</a></li>
                {{end}}
            </ul>
        {{else}}
            <p class="center">Try 1970!</p>
        {{end}}
   
</body>
</html>